{% extends 'dash-base.html' %}
{% load static %}

{% block edit %}
    <h1 class="text-center">Modifica tu perfil</h1>
    <form class="" action="." method="POST">
        {% csrf_token %}
        <input type="text" required name="nombre" class=" ml-6" placeholder="Ingresa tu nombre:"></input>
        <input type="text"  name="edad" class=" ml-6" placeholder="Ingresa tu edad:"></input>
        <input type="text" required name="email" class=" ml-6" placeholder="Ingresa tu email:"></input>
        <input type="text" required name="telefono" class=" ml-6" placeholder="Ingresa tu telefono:"></input>
        <button type="submit" class="bg-orange-500 p-2 mt-6"> Vamos </button>
    </form>

{% endblock %}