{% extends 'dash-base.html' %}
{% load static %}

{% block tasks %}
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-2xl font-bold mt-4"> {{ title }}</h1>
          <p class="mt-2 text-sm text-gray-700">NIDS está diseñada para facilitar la comunicación y colaboración entre profesores y alumnos, fomentando un entorno educativo dinámico y enriquecedor. En ella, los profesores pueden crear proyectos y asignar tareas específicas a sus alumnos, mientras que los estudiantes tienen la responsabilidad de cumplir con esas tareas dentro de los plazos establecidos.</p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          <a href="/dashboard/proyectos/tareas/{{ title }}/addtask" class="block rounded-md bg-orange-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-orange-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Añadir tareas</a>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Encargado</th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Titulo</th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Descripcion</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Estado</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                    <span class="sr-only">Completar</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white">
              {% for e in tasks %}
                {% if e.isdone == 'No completado'%}
                <tr class="even:bg-gray-50">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.incharge }} </td>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.tasktitle }} </td>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.taskdescription }} </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> {{ e.isdone }} </td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                    <form action="{{ e.title }}" method="POST">
                      {% csrf_token %}
                      <input class="hidden" id="id" name="titulo" value="{{ e.tasktitle }}"></input>
                      <button type='submit'> Cerrar tarea </button>
                    </form>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
            <table class="min-w-full divide-y divide-gray-300">
              <tbody class="bg-white">
              {% for e in tasks %}
                {% if e.isdone == 'Completado'%}
                <tr class="even:bg-gray-50">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.incharge }} </td>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.tasktitle }} </td>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.taskdescription }} </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> {{ e.isdone }} </td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                    <form action="{{ e.title }}" method="POST">
                      {% csrf_token %}
                      <input class="hidden" id="id" name="titulo" value="{{ e.tasktitle }}"></input>
                      <button type='submit'> Abrir tarea </button>
                    </form>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %} 

{% comment %} <a href="/dashboard/proyectos/tareas/completar" class="text-indigo-600 hover:text-indigo-900">Completar<span class="sr-only"></span></a> {% endcomment %}