{% extends 'gen-base.html' %}
{% load static %}

{% block hero %}
    <div class="relative">
        <div class="mx-auto max-w-7xl text-center md:text-left">
          <div class="relative z-10  min-h-[30%] md:w-full md:max-w-2xl md:min-h-[75%]">
            <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="0,0 90,0 50,100 0,100" />
            </svg>
            <div class="relative px-6 py-0.5 sm:py-40 lg:px-8 lg:py-6 lg:pr-0">
              <div class="mx-auto max-w-2xl md:pt-16 md:mx-0 md:max-w-xl">
                <!-- <div class="hidden sm:mb-10 sm:flex">
                  <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-500 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                    Anim aute id magna aliqua ad ad non deserunt sunt. <a href="#" class="whitespace-nowrap font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
                  </div>
                </div> -->
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Núcleo de Investigación en Data Science</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Este núcleo tiene como foco principal el desarrollo y difusión de proyectos de investigación en torno a la ciencia de datos, a través de cuatro líneas de investigación específicas: Data Science en Ciencias de la Vida, Machine Learning, Inteligencia de Negocios y Organizaciones Data Driven, Network Science, Cambio Climático y Sustentabilidad Agropecuaria.</p>
                <!-- <div class="mt-10 flex items-center gap-x-6">
                  <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
                  <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
                </div> -->
                </div>
              </div>
            </div>
          </div>
          <div id="image-ctn" class="bg-gray-50 py-8 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="aspect-[16/9] object-cover lg:aspect-auto lg:h-full lg:w-full" src="{% static 'img/hero/hero a.jpg' %}" alt="">
          </div>
        </div>
      </div>
{% endblock %}

{% block stats %}
    <div class="bg-white py-2 md:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:max-w-none">
                <div class="text-center">
                    <h2 id="stats" class="text-4xl font-bold tracking-tight text-gray-900 mt-3">Nuestro avances en números </h2>
                    <p class="mt-4 text-lg leading-8 text-gray-600">
                        El crecimiento, rendimiento y logros de nuestro centro se resumen en las siguientes estadísticas de progreso.
                    </p>
                </div>

                <!-- Para vista monitor -->
                <dl class="hidden md:flex-row md:place-content-center md:overflow-x-auto md:grid md:grid-cols-4 md:gap-0.5 md:rounded-2xl md:text-center md:shadow-lg">
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Investigadores Asociados</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">7</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Asistentes de Investigación</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">5</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Investigadores Externos Nacionales</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">12</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Investigadores Externos Internacionales</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">8</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Publicaciones Indexadas</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">+20</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Conferencias / Congresos</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">8</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Memoristas UDLA</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">2</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Practicantes UDLA</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">+10</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Vinculación con el Medio</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">4</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Proyectos con Fondos Internos adjudicación</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">3</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Co-tutorias de Memorias otras universidades</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">5</dd>
                </div>
                <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                    <dt class="text-sm font-semibold leading-6 text-gray-600">Participación en programas de Postgrado UDLA</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">2</dd>
                </div>
                </dl>

                <!-- Para vista celular -->
                <dl class="mt-6 flex flex-row overflow-x-auto snap-x gap-0.5 rounded-2xl text-center shadow-lg md:hidden">
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">7</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Investigadores Asociados</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">5</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Asistentes de Investigación</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">12</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Investigadores Externos Nacionales</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">8</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Investigadores Externos Internacionales</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">+20</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Publicaciones Indexadas</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">8</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Conferencias / Congresos</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">2</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Memoristas UDLA</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">+10</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Practicantes UDLA</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">4</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Vinculación con el Medio</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">3</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Proyectos con Fondos Internos adjudicación</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">5</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Co-tutorias de Memorias otras universidades</dt>
                    </div>
                    <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                        <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">2</dd>
                        <dt class="text-lg font-semibold leading-6 text-gray-600">Participación en programas de Postgrado UDLA</dt>
                    </div>
                </dl>
            </div>
        </div>
    </div> 
{% endblock %}

{% block news %}
    <div class="bg-white py-24 sm:py-2">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 id="news" class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Ultimas noticias</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Learn how to grow your business with our expert advice.</p>
      </div>
      <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="flex items-center gap-x-4 text-xs">
            <time datetime="2023-04-13" class="text-gray-500">Abril 13, 2023</time>
            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-orange-600 hover:bg-gray-100">Inauguración</a>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
              <a href="#">
                <span class="absolute inset-0"></span>
                Inauguración de el Núcleo de Investigación de Data Sciense
              </a>
            </h3>
            <p class="mt-5 line-clamp-4 text-sm leading-6 text-gray-600">Con el propósito de promover la cultura de la investigación y fomentar la formación de redes de colaboración entre académicos de Universidad de Las Américas con pares de otras universidades, nacionales y extranjeras, es que este 2022, la Vicerrectoría de Investigación de UDLA dio a conocer los ganadores de la adjudicación del fondo concursable para la creación de Grupos y Núcleos.</p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <img src="https://actualidad.udla.cl/wp-content/uploads/sites/61/2022/01/Dante-37Travisany-scaled.jpg" alt="" class="h-10 w-14 rounded-full bg-gray-50">
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Dante Travisany
                </a>
              </p>
              <p class="text-gray-600">Founder</p>
            </div>
          </div>
        </article>
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="flex items-center gap-x-4 text-xs">
            <time datetime="2023-05-17" class="text-gray-500">Mayo 17, 2023</time>
            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-orange-600 hover:bg-gray-100">Inauguración</a>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
              <a href="#">
                <span class="absolute inset-0"></span>
                Reforzando lazos de colaboración, autoridades de UDLA participan en la inauguración de Clínica Indisa Maipú: "Generará innumerables los beneficios a la comunidad estudiantil de UDLA"
              </a>
            </h3>
            <p class="mt-5 line-clamp-4 text-sm leading-6 text-gray-600">“La apertura de este nuevo centro generará innumerables los beneficios a la comunidad estudiantil de UDLA, especialmente por la presencia que tenemos en la comuna. Esto, naturalmente nos significará grandes ventajas para estudiantes y académicos”, comentó Alejandro Zamorano.</p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <img src="https://media.licdn.com/dms/image/C4D03AQEG8AQ3Yr5Tww/profile-displayphoto-shrink_800_800/0/1603114933924?e=2147483647&v=beta&t=U6VEihlAE1w-UQhCCvEqCGccneo9AGbXz7F1RTc16U0" alt="" class="h-10 w-10 rounded-full bg-gray-50">
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Julia Ortiz
                </a>
              </p>
              <p class="text-gray-600">Founder</p>
            </div>
          </div>
        </article>
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500">Abril 13, 2023</time>
            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-orange-600 hover:bg-gray-100">Inauguración</a>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
              <a href="#">
                <span class="absolute inset-0"></span>
                Inauguración de el Núcleo de Investigación de Data Sciense
              </a>
            </h3>
            <p class="mt-5 line-clamp-4 text-sm leading-6 text-gray-600">Con el propósito de promover la cultura de la investigación y fomentar la formación de redes de colaboración entre académicos de Universidad de Las Américas con pares de otras universidades, nacionales y extranjeras, es que este 2022, la Vicerrectoría de Investigación de UDLA dio a conocer los ganadores de la adjudicación del fondo concursable para la creación de Grupos y Núcleos.</p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <img src="https://actualidad.udla.cl/wp-content/uploads/sites/61/2022/01/Dante-37Travisany-scaled.jpg" alt="" class="h-10 w-14 rounded-full bg-gray-50">
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Julia Ortiz
                </a>
              </p>
              <p class="text-gray-600">Founder</p>
            </div>
          </div>
        </article>
      </div>
    </div>
    </div>
{% endblock %}