{% extends 'gen-base.html' %}
{% load static %}

{% block dashboard %}
<body>
  
  <div class="flex pb-24 h-screen">
    <div class="bg-gray-100 pt-6 px-8 flex-col">
      <!-- dashboard profile -->
      <ul class="flex items-center flex-col py-4">
        <li class="flex justify-between">
          <img class="h-24 rounded-lg rounded-md hover:bg-orange-600" src="as teyson.png" alt="">
        </li>
          {% for usuario in usuarios %}
          <li class="flex text-center justify-between">
            <h2 class="hover:text-orange-600">
              {{ usuario.nombre_completo }}
            </h2>
          </li>
          {% endfor %}
      
      </ul>
  
      <!-- dashboard proyects -->      
      <ul class="flex items-center flex-col py-8">
        <li class="flex items-center justify-between">
          <img class="h-24 rounded-lg rounded-md hover:bg-orange-600" src="lista.png" alt="">
        </li>
        <li class="flex text-center justify-between">
          <a class="hover:bg-orange-600" href="proyectos.html">Proyectos </a>           
        </li>
      </ul>
  
      <!-- dashboard team -->
      <ul class="flex items-center flex-col py-4">
        <li class="flex items-center justify-between">
          <img class="h-24 rounded-lg rounded-md hover:bg-orange-600" src="reclutamiento.png" alt="">
        </li>
        <li class="flex text-center justify-between">
          <a class="hover:bg-orange-600" href="team.html">Team </a>            
        </li>
      </ul>
    </div>
    
    <!-- dashboard-perfil -->
    <div class="flex py-8 px-12 space-y-4 flex-col ">
              <!--EL PERFIL-->
        <div class="bg-white">
          <h1 class="text-2xl"> Tu Perfil</h1>
        </div>
        <div class="py-2 bg-gray-100 ">
          <p>Tu nombre: </p>
        </div>
        <div class="bg-gray-100 ">
          <p>Tu Carrera: </p>
        </div>
        <div class="py-6 bg-gray-100">
          <p>Descripcion: </p>
        </div>
        <!-- EL ROL-->
        <div class="py-12">
          <h1 class="text-2xl">Tu Rol</h1>

        </div>
        <div class="py-2 bg-gray-100 ">
          <p>Rol: </p>
        </div>
        <div class="bg-gray-100 ">
          <p>Tutor Academico: </p>
        </div>
        <div class="py-6 bg-gray-100">
          <p>Area de Investigacion: </p>
        </div>
        <div class="py-2 bg-gray-100">
          <p>Fecha de Nacimiento</p>
        </div>
    </div>
  </div>


</body>

{% endblock %}  