{% extends 'gen-base.html' %}
{% load static %}

{% block register %}
<form class="space-y-6 px-12 h-full" action="." method="POST">
  {% csrf_token %}
  <div class="my-12 ">
    <div class="#">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Agregar un nuevo participante</h2>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600">A continuación se encuentra el formulario para que usted, en calidad de profesor del centro, cree una nueva cuenta de usuario de alumno el cual quedará vinculado a su equipo.</p>
    </div>

      <div class="grid grid-cols-5 mt-12 space-y-8 border-b border-gray-900/10 pb-12 ">
        <div class=" col-start-2 col-span-3">
          <div class="grid grid-cols-2">
            <div class="#">
              <label for="nombre_completo" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Nombre completo</label>
              <div class="mt-2 sm:col-span-2 sm:mt-0">
                <input required type="text" name="nombre_completo" id="nombre_completo" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:max-w-xs sm:text-sm sm:leading-6">
              </div>
            </div>
            <div class="#">
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Email</label>
              <div class="mt-2 sm:col-span-2 sm:mt-0">
                <input required type="email" name="email" id="email" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:max-w-xs sm:text-sm sm:leading-6">
              </div>
            </div>
          </div>
  
          <div class="grid grid-cols-2">
            <div class="#">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Contraseña</label>
              <div class="sm:col-span-2 sm:mt-0">
              <input required id="password" name="password" type="password" autocomplete="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:max-w-md sm:text-sm sm:leading-6">
              </div>
            </div>
            <div class="mt-10 flex items-center justify-end gap-x-6">
              <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
              <button type="submit" class="inline-flex justify-center rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">Save</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>
{% endblock %}  