{% block stats %}
<div class="bg-white py-2 md:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="text-center">
                <h2 id="stats" class="text-4xl font-bold tracking-tight text-gray-900 mt-3">Nuestro avances en números </h2>
                <p class="mt-4 text-lg leading-8 text-gray-600">
                    El crecimiento, rendimiento y logros de nuestro centro se resumen en las siguientes estadísticas de progreso.
                </p>
            </div>

            <!-- Para vista monitor -->
            <dl class="hidden md:flex-row md:place-content-center md:overflow-x-auto md:grid md:grid-cols-4 md:gap-0.5 md:rounded-2xl md:text-center md:shadow-lg">
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                <dt class="text-sm font-semibold leading-6 text-gray-600">Investigadores Asociados</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">7</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                  <dt class="text-sm font-semibold leading-6 text-gray-600">Asistentes de Investigación</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">5</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                  <dt class="text-sm font-semibold leading-6 text-gray-600">Investigadores Externos Nacionales</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">12</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                  <dt class="text-sm font-semibold leading-6 text-gray-600">Investigadores Externos Internacionales</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">8</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                <dt class="text-sm font-semibold leading-6 text-gray-600">Publicaciones Indexadas</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">+20</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                  <dt class="text-sm font-semibold leading-6 text-gray-600">Conferencias / Congresos</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">8</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                  <dt class="text-sm font-semibold leading-6 text-gray-600">Memoristas UDLA</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">2</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                  <dt class="text-sm font-semibold leading-6 text-gray-600">Practicantes UDLA</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">+10</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                <dt class="text-sm font-semibold leading-6 text-gray-600">Vinculación con el Medio</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">4</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                <dt class="text-sm font-semibold leading-6 text-gray-600">Proyectos con Fondos Internos adjudicación</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">3</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                  <dt class="text-sm font-semibold leading-6 text-gray-600">Co-tutorias de Memorias otras universidades</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">5</dd>
              </div>
              <div class="flex flex-col bg-gray-400/5 p-8 shadow-lg">
                  <dt class="text-sm font-semibold leading-6 text-gray-600">Participación en programas de Postgrado UDLA</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">2</dd>
              </div>
            </dl>

            <!-- Para vista celular -->
            <dl class="mt-6 flex flex-row overflow-x-auto snap-x gap-0.5 rounded-2xl text-center shadow-lg md:hidden">
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">7</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Investigadores Asociados</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">5</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Asistentes de Investigación</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">12</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Investigadores Externos Nacionales</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">8</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Investigadores Externos Internacionales</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">+20</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Publicaciones Indexadas</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">8</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Conferencias / Congresos</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">2</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Memoristas UDLA</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">+10</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Practicantes UDLA</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">4</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Vinculación con el Medio</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">3</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Proyectos con Fondos Internos adjudicación</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">5</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Co-tutorias de Memorias otras universidades</dt>
                  </div>
                  <div class="grid grid-cols-1 bg-gray-400/5 p-8 min-w-[75%] shadow-lg place-content-center snap-center">
                    <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600">2</dd>
                    <dt class="text-lg font-semibold leading-6 text-gray-600">Participación en programas de Postgrado UDLA</dt>
                  </div>
            </dl>
        </div>
    </div>
</div> 
{% endblock %}